
body {
  font-family: "Teko", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 1050px;
    margin: 0 auto;
    text-align: center; 
    display: grid;
    background-blend-mode: multiply;
background-repeat: repeat;
    place-items: center;
    color: var(--clr-neon);
    font-weight: bold;
}

::-webkit-scrollbar {
  width: 1.8em;
  background: #543310;
  height: 100%;
  }
  
  ::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb{
  background: #5F6F52;
  border-radius: 100vw;
  border: .40em solid #2C3639;
  }
  
  
  ::-webkit-scrollbar-thumb:hover{
  background: #A9B388
  }
  
  

html {
  background-image: url(https://cdn.architextures.org/textures/22/01/microperforated-acoustic-veneer-hexagonal-61d5d7977a17f-1200.jpg);
  }

.containerz {
  margin-top: 350px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-family: "Teko", sans-serif;
  font-size: 50px;
  color: #78A083;
  font-weight: 200;
}
.dud {
  color: #D3D04F;
}

p {
  font-family: "Teko", sans-serif;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double #344955;
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 10%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
  font-size: 20px;
  font-weight: 200;
  
  span {
	text-transform: uppercase;
  	font-size: 80px;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  

/* Clip Background Image */

background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 400s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }
}




:root {
    --clr-neon: #A8CD9F;
    /*hsl(133, 100%, 75%)*/
  }
  
  
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}




.card{
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin:20% auto;
  padding: 150px 0;
  width: 970px;
  height: 560px;
  border-radius: 5px;
  background-color: #06170e; 
  transition: all ease-in-out;
}


.card::before{
  position: absolute;
  z-index: -1;
  top: -1%;
  margin-top: -7px;
  left: -2%;
  content: "";
  height: 890px;
  width: 1007px;
  border-radius: 8px;
  border: 0.1px solid rgba(43, 43, 43, 0.199);
  background-image: linear-gradient(
      var(--rotate),
      #35374B,#344955, #50727B,#D3D04F);
  transition: opacity 2s ease-in-out;
  animation: swirl 5s linear infinite;
}




@keyframes swirl {
  0%{
      --rotate: 0deg;
  }
  100%{
      --rotate: 360deg;
  }   
}


/*  Old PC Plastic BTN */
#btn-old-pc {
  background-color: #080808;
  color: #C1F2B0;
  text-align: center;
  position: relative;
  width: 140px;
  height: 70px;
  text-decoration: none;
  padding: 7px 20px;
  display: inline-block;
  box-shadow: 0px -2px 2px 4px #0d0e0d, 2px 2px 2px 2px #292c2a, 2px -2px 2px 2px #222423, -2px 2px 2px 2px #2b3230;
  border-radius: 5px;
  z-index: 1;
  font-size: 1.3em;
  transition: .2s;
  cursor: pointer;
  top: 160px;
  left: 41.5%;
  font-family: "Teko", sans-serif;
  font-weight: lighter;

}
#btn-old-pc::after {
  content: attr(data-title);
  line-height: 2.6em;
  font-size: 1.3em;
  display: block;
  position: absolute;
  z-index: -1;
  background-color: #2a3c44;
  color: #D3D04F;
  text-shadow: 0px 2px 1px #1a2b2c;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 5px solid #3e5156;
  border-left: 8px solid #213234;
  border-right: 8px solid #3c3836;
  border-bottom: 12px solid #101b1c;
  border-radius: 6px;
  opacity: 1;
  box-shadow: inset 10px -5px 14px #293e44, inset -10px -7px 22px #35374B;
  transition: .2s;
}
#btn-old-pc:hover::after {
  opacity: 1;
  transform: scale(.97);
  border-top: 8px solid #26363a;
  border-bottom: 9px solid #101b1c;
  border-right: 8px solid #2b2725;
  background-color: #1d323b;
  color: #35494e;
  box-shadow: inset 10px 16px 14px #1c1f2066, inset -10px 13px 22px #3a373566;
}

.officeimage {
  width: 300px;
  height: 300px;
z-index: 1;
margin-top: -2100px;
margin-left: 800px;
}

#offimg {
  width: 350px;
  height: 350px;
  z-index: 1;
}


